# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# misc artifacts we do not want to version control
misc-artifacts
misc-artifacts/*

# resharper generated project
TTClient/_ReSharper.TTClient
TTClient/_ReSharper.TTClient/*

# mstest test results
TestResults